.InputElement {
    width: 80%;
    margin: 0;
    padding: 0.5rem 0;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.InputElement input {
    width: 100%;
    text-decoration: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid  rgb(247, 220, 95);
    font-family: system-ui;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: black;
    font-weight: 400;
}

.SelectInputElement {
    width: 80%;
    margin: 0;
    padding: 0.5rem 0;
}

.Invalid {
    border: 1px solid red;
}

.Label {
    width: 80%;
    color: #222629;
    font-size: 1.3rem;
}

.ValidationError {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 0.8em;
}

.Select {
    width: 100%;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(247, 220, 95) ;
    background-color: transparent;
    transition-duration:.2s;
	transition-property:none;
	transition-timing-function:cubic-bezier(.42,0,.58,1)
}

.Select:focus {
    outline: none;
    background-color: #ccc;
}