.Box {
    box-sizing: border-box;
    height: 10vh;
    width: 33.333%;
    border-left: 1px solid rgb(247, 220, 95) ;
    border-bottom: 1px solid rgb(247, 220, 95) ;
    background-color:rgba(147, 164, 173, 0.7) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.Box:first-child {
    border-left: none;
}

.Box p {
    position: relative;
    z-index: 10;
    color: #e7e7e7;
    padding: 1rem 0;
    padding-right: 1em;
    margin: 0;
}

.First-row-value {
    font-size: 2.5em;
}

.Second-row-value{
    font-size: 1.3em;
}

span {
    font-size: small;
}