.Info-section {
    display: flex;
    flex-flow: column;
    position: relative;
}

.Row {
    display: flex;
    justify-content: space-between;
}


.Value span {
    font-size: small;
}

@media (max-width: 1025px) {
    
}

@media (max-width: 685px) {
   
}