.SideDrawer {
    position: fixed;
    z-index: 200;
    height: 100%;
    width: 65%;
    max-width: 70%;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #222629;
    box-sizing: border-box;
    padding: 1em 1em;
    color: #fff;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

 @media (min-width: 1025px) {
    .SideDrawer {
        display: none;
    }
}

@media (min-width: 685px) {
    .SideDrawer {
        width: 30%;
    }
}