.site-main {
    margin-left: 20%;
    display: block;
    background-color: #e7e7e7;
    height: 100vh;
}

@media(max-width: 1025px) {
    .site-main {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}